In [1]:
import pandas as pd
import zipfile
import IPython.display

In [2]:
descriptions = {
    'kalman_estimates.csv.gz':'3D estimates from the completed tracking',
    'data2d_distorted.csv.gz':'2D detections',
    'cam_info.csv.gz':'Association of camera names (`cam_id`) with camera number (`camn`) in the `data2d_distorted` table',
    'data_association.csv.gz':'associates 2D detections with 3D estimates',
}

In [3]:
archive = zipfile.ZipFile("20201112_133722.braidz", mode='r')
for table in descriptions:
    description = descriptions[table]
    display(IPython.display.Markdown(f"# `{table}`: {description}"))
    display(pd.read_csv(archive.open(table),comment="#",compression='gzip'))

# `kalman_estimates.csv.gz`: 3D estimates from the completed tracking

,obj_id,frame,timestamp,x,y,z,xvel,yvel,zvel,P00,P01,P02,P11,P12,P22,P33,P44,P55
0,435,20745,1.605185e+09,0.028185,-0.257017,0.131452,-0.096277,0.285258,0.598401,1.623889e-06,2.942050e-08,-6.802293e-09,3.293330e-06,2.021496e-06,0.000003,0.032465,0.063593,0.060496
1,435,20746,1.605185e+09,0.026350,-0.254547,0.136599,-0.148995,0.262628,0.548095,1.344016e-06,2.660260e-08,-3.450526e-09,2.716615e-06,1.653714e-06,0.000003,0.008802,0.017197,0.016196
2,435,20747,1.605185e+09,0.024104,-0.252223,0.142390,-0.182883,0.248933,0.562366,1.131791e-06,2.268778e-08,-1.899897e-09,2.267050e-06,1.367252e-06,0.000002,0.004261,0.007651,0.007208
3,435,20748,1.605185e+09,0.022219,-0.249602,0.147624,-0.185056,0.254602,0.547417,9.839309e-07,1.950742e-08,-9.125220e-10,1.936654e-06,1.146735e-06,0.000002,0.002948,0.004636,0.004380
4,435,20749,1.605185e+09,0.021042,-0.247235,0.153638,-0.161500,0.246696,0.566592,8.882665e-07,1.712777e-08,-2.970721e-10,1.700783e-06,9.802503e-07,0.000002,0.002531,0.003498,0.003324
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4383,478,25002,1.605185e+09,0.106654,-0.144784,0.420852,0.644221,0.026188,-0.201009,1.035772e-05,8.514238e-07,-3.148323e-06,3.757124e-07,-1.831164e-07,0.000001,0.007230,0.001694,0.002234
4384,478,25003,1.605185e+09,0.112847,-0.142655,0.417850,0.622943,0.114894,-0.252898,1.591180e-05,1.301527e-06,-4.936990e-06,4.206992e-07,-3.267809e-07,0.000002,0.008146,0.001733,0.002333
4385,478,25004,1.605185e+09,0.118762,-0.139921,0.415468,0.612522,0.187545,-0.253282,2.304794e-05,1.953646e-06,-7.249895e-06,4.916578e-07,-5.361504e-07,0.000003,0.009035,0.001777,0.002448
4386,478,25005,1.605185e+09,0.124888,-0.138045,0.412935,0.612522,0.187545,-0.253282,3.200606e-05,2.720912e-06,-1.003322e-05,1.055857e-06,-7.126428e-07,0.000004,0.010035,0.002777,0.003448
4387,478,25006,1.605185e+09,0.132308,-0.136191,0.414711,0.666147,0.177795,-0.089200,4.276290e-05,3.997196e-06,-1.360267e-05,8.235468e-07,-1.163729e-06,0.000005,0.010807,0.001876,0.002665

# `data2d_distorted.csv.gz`: 2D detections

,camn,frame,timestamp,cam_received_timestamp,x,y,area,slope,eccentricity,frame_pt_idx,cur_val,mean_val,sumsqf_val
0,1,20536,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
1,3,20536,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
2,0,20536,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
3,3,20537,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
4,4,20537,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
25608,2,25658,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
25609,3,25658,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
25610,4,25658,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
25611,0,25658,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN
25612,1,25658,1.605185e+09,1.605185e+09,NaN,NaN,NaN,NaN,NaN,0,0,NaN,NaN

# `cam_info.csv.gz`: Association of camera names (`cam_id`) with camera number (`camn`) in the `data2d_distorted` table

   camn           cam_id
0     0  Basler_21425978
1     1  Basler_21425984
2     2  Basler_21426008
3     3  Basler_21714402
4     4  Basler_21736806

# `data_association.csv.gz`: associates 2D detections with 3D estimates

       obj_id  frame  cam_num  pt_idx
0         435  20745        4       0
1         435  20745        0       0
2         435  20746        4       0
3         435  20746        0       0
4         435  20747        4       0
...       ...    ...      ...     ...
16698     478  25001        3       0
16699     478  25002        3       0
16700     478  25003        3       0
16701     478  25004        3       0
16702     478  25006        3       0

[16703 rows x 4 columns]